# Universal Commands
alias checkshell='(ps -p$$ -ocmd= 2>/dev/null || ps -p$$ -ocommand= 2>/dev/null)'
alias shebang='echo "#!/usr/bin/env bash"'

# Fun nonsense
alias weather='curl wttr.in'
alias bonsai='cbonsai -lit1'

# Server Jails
alias banned-ip-count='sudo iptables -L -n | awk '\''$1=="REJECT" && $4!="0.0.0.0/0" {print $4}'\'' | wc -l'
alias banned-ip-list='sudo iptables -L -n | awk '\''$1=="REJECT" && $4!="0.0.0.0/0" {print $4}'\'' | less'
alias jails='fail2ban-client status | sed -n "s/,//g;s/.*Jail list://p" | xargs -n1 fail2ban-client status'

# Mopidy (MPD Music Player Daemon)
alias mpd-reload-db='sudo rm -rf /var/lib/mopidy/local/library.db && sudo mopidyctl local scan'

# NCMPCPP (MPD Client)
alias music='ncmpcpp'